* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: Outfit, sans-serif;
  background-color: #fbfefb;
}

h1,
h2,
h3 {
  font-family: Domine, serif;
}

header {
  height: 57px;
  padding: 24px 16px 0px 16px;
}

h1 {
  font-size: 22px;
}

.images-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 16px;
  max-width: 100vw;
  box-sizing: border-box;
  align-self: stretch;
  flex-wrap: wrap;
}

img {
  height: 176px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.forrest-img-1 {
  width: 100%;
  padding-bottom: 4px;
}

.forrest-img-2 {
  width: 40%;
  padding-right: 4px;
}

.forrest-img-3 {
  width: 60%;
  padding-bottom: 4px;
}

.forrest-img-4 {
  width: 100%;
}

.forrest-img-5 {
  width: 60%;
  padding: 4px 4px 0 0;
}

.forrest-img-6 {
  width: 40%;
  padding-top: 4px;
}

/*** Card section **/

.forrest-cards {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 8px;
  -webkit-overflow-scrolling: touch;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 400px;
  margin: 16px 8px;
  padding: 12px;
  flex-shrink: 0;
  scroll-snap-align: start;
  border: 1px solid rgba(73, 110, 73, 0.2);
  border-radius: 4px;
  background: #fdfefd;
}

.top-text-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 20px;
  margin: 16px 0 8px 0;
}

.profile-img {
  width: 20px;
  height: 20px;
  border-radius: 360px;
  object-fit: cover;
}

.card-writer .card-time {
  color: rgba(20, 46, 20, 0.62);
  font-size: 15px;
  font-weight: 600;
  line-height: 135%;
}

.card-title {
  font-size: 17px;
  font-weight: 700;
  line-height: normal;
  overflow: hidden;
  color: #1b281b;
  text-overflow: ellipsis;
  letter-spacing: -0.34px;
  margin: 0;
}

.card-text {
  overflow: hidden;
  color: rgba(20, 46, 20, 0.62);
  text-overflow: ellipsis;
  font-family: Outfit;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin-top: 0;
}

.card-bottom-wrapper {
  height: 24px;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chat-icon {
  width: 24px;
  height: 24px;
}

.card-comments {
  color: #1b281b;
  font-size: 15px;
  font-weight: 600;
  line-height: 135%;
}

.save-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.dots-icon {
  width: 24px;
  height: 24px;
}

/*** Bottom Card ***/

.bottom-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  flex-direction: column;
}

.bottom-card-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.bottom-card-wrapper {
  margin-top: -95px;
  margin-left: 15px;
  padding: 10px;
}

.bottom-card-title {
  overflow: hidden;
  color: #fff;
  text-overflow: ellipsis;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.34px;
  margin: 4px 0;
}

.bottom-card-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  margin: 0;
  max-width: 300px;
}

/*** Footer ***/
footer {
  width: 100%;
  margin-top: 32px;
}

.footer-wrapper {
  margin-top: 16px;
  background-color: #fff;
  border-top: 1px solid rgba(73, 110, 73, 0.2);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.footer-icon {
  width: 24px;
  height: 24px;
}

.footer-text {
  margin: 0;
  color: #218721;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
}

.plus-border {
  border: 3px solid #228b22;
  height: 79px;
  width: 79px;
  border-radius: 360px;
  position: relative;
}

.plus-button {
  width: 70px;
  height: 70px;
  background-color: #228b22;
  border-radius: 360px;
  position: absolute;
  top: 1px;
  right: 1.5px;
}

.plus-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
}

/*** Tablet ***/

@media (min-width: 745px) {
  h1 {
    font-size: 32px;
  }

  .images-container {
    margin-top: 32px;
  }

  .bottom-card-image {
    width: 700px;
    height: 400px;
    border-radius: 20px;
  }

  .bottom-card-wrapper {
    width: 700px;
    margin-top: -85px;
  }

  .bottom-card-title {
    font-size: 26px;
  }

  .bottom-card-text {
    max-width: 700px;
    font-size: 20px;
  }

  .footer-icon-wrapper {
    margin: 0 60px;
  }

  .footer-icon {
    width: 32px;
    height: 32px;
  }

  .footer-text {
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 48px;
  }

  .images-container {
    margin-top: 68px;
  }

  .bottom-card-image {
    width: 1000px;
  }

  .bottom-card-wrapper {
    width: 1000px;
    margin-top: -95px;
  }

  .bottom-card-title {
    font-size: 32px;
  }

  .bottom-card-text {
    font-size: 24px;
  }

  .footer-icon-wrapper {
    margin: 0 100px;
  }

  .footer-icon {
    width: 48px;
    height: 48px;
  }

  .footer-text {
    font-size: 24px;
  }
}
